<div class="flex p-3 w-[100vw] bg-emerald-500 gap-0 items-center">
    @if (!IsBerandaPage) {
    <span class="text-white mr-3 cursor-pointer" (click)="handleBackToBeranda()">
        <i class="pi pi-chevron-left"></i>
    </span>
    }

    <p class="text-white text-xl font-bold">
        LKPD
    </p>

    <div *ngIf="Profile$ | async as profile" class="flex flex-row items-center gap-2 ml-auto">
        <p class="text-white text-sm">
            <i class="pi pi-user" style="font-size: 12px"></i>&nbsp;
            {{ profile.nama_lengkap }}
        </p>
    </div>
</div>