<app-main>
    <div class="grid w-full py-5 px-3">
        <!-- Banner -->
        <div class="flex flex-col w-full items-center justify-center rounded-lg bg-emerald-500 p-5 shadow mb-5">
            <p class="text-sm font-medium text-gray-100 text-center">
                LKPD - Lembar Kerja Peserta Didik
            </p>
            <p class="text-lg font-bold text-white text-center">
                Profile
            </p>
        </div>

        <!-- Title -->
        <div class="flex flex-row justify-between w-full items-center mb-5">
            <!-- Title -->
            <div class="flex flex-col w-full ">
                <p class="text-lg font-semibold text-gray-700">
                    Edit Profile
                </p>
                <p class="text-sm text-gray-600">
                    Edit data informasi profile
                </p>
            </div>
        </div>

        <!-- Form -->
        <div [formGroup]="Form"
            class="flex flex-col gap-3 w-full mb-5 pb-5 border-b border-dashed border-gray-400 border-t-0 border-x-0">
            <!-- Nama Lengkap -->
            <div class="flex flex-col gap-1 w-full">
                <p class="text-base font-medium text-gray-700">
                    Nama Lengkap
                    <span class="text-red-500">*</span>
                </p>
                <input type="text" pInputText class="w-full" formControlName="nama_lengkap">
            </div>

            <!-- NIP -->
            <div *ngIf="IsGuru" class="flex flex-col gap-1 w-full">
                <p class="text-base font-medium text-gray-700">
                    NIP
                    <span class="text-red-500">*</span>
                </p>
                <input type="text" pInputText class="w-full" formControlName="nip">
            </div>

            <!-- No. Absen -->
            <div *ngIf="!IsGuru" class="flex flex-col gap-1 w-full">
                <p class="text-base font-medium text-gray-700">
                    No. Absen
                    <span class="text-red-500">*</span>
                </p>
                <input type="text" pInputText class="w-full" formControlName="no_absen">
            </div>

            <!-- Email -->
            <div class="flex flex-col gap-1 w-full">
                <p class="text-base font-medium text-gray-700">
                    Email
                    <span class="text-red-500">*</span>
                </p>
                <input type="text" pInputText class="w-full" formControlName="email">
            </div>

            <!-- Password -->
            <div class="flex flex-col gap-1 w-full">
                <p class="text-base font-medium text-gray-700">
                    Password
                    <span class="text-red-500">*</span>
                </p>
                <p-password styleClass="w-full" formControlName="password" [toggleMask]="true" [feedback]="false">
                </p-password>
            </div>


            <div class="flex flex-row justify-end items-center gap-3 w-full">
                <p-button severity="secondary" label="Update" styleClass="p-button-sm bg-emerald-500 text-white text-sm"
                    (onClick)="handleUpdateProfile(Form.value)">
                </p-button>
            </div>
        </div>

        <!-- Petunjuk Penggunaan -->
        <div
            class="flex flex-col justify-between w-full items-center mb-5 pb-5 border-b border-dashed border-gray-400 border-t-0 border-x-0">
            <!-- Title -->
            <div class="flex flex-col w-full mb-3">
                <p class="text-lg font-semibold text-gray-700">
                    Petunjuk Penggunaan
                </p>
                <p class="text-sm text-gray-600">
                    Berikut ini beberapa panduan yang harus diketahui pengguna dalam menggunakan aplikasi LKPD Mobile:
                </p>
            </div>

            <!-- REGISTRASI -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    REGISTRASI
                </p>

                <p class="text-sm text-gray-600 text-justify mb-1">
                    Sebelum menggunakan aplikasi, pengguna diharapkaan melakukan regisgtrasi terlebih dahulu agar data
                    pengguna dapat tersimpan dalam database. Registrasi pengguna dapat dilakukan dengan cara sebagai
                    berikut:
                </p>

                <ol>
                    <li class="text-sm text-gray-600 text-justify">Klik tombol ‘REGISTRASI’ yang terdapat pada halaman
                        login</li>
                    <li class="text-sm text-gray-600 text-justify">Isilah data diri pada kolom yang tersedia</li>
                    <li class="text-sm text-gray-600 text-justify">Saat mengisi data diri, diusahakan sesuai dengan
                        petunjuk yang terdapat pada kolom</li>
                    <li class="text-sm text-gray-600 text-justify">Setelah itu klik tombol ‘Registrasi’</li>
                    <li class="text-sm text-gray-600 text-justify">Pendaftaran berhasil apabila terdapat kalimat
                        ‘Registrasi Berhasil’ dan beralih kembali pada
                        halaman login</li>
                </ol>
            </div>

            <!-- LOGIN -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    LOGIN
                </p>

                <p class="text-sm text-gray-600 text-justify">
                    Login akun hanya dapat dilakukan setelah melakukan ‘REGISTRASI’. Login dapat dilakukan dengan
                    memasukkan ‘Email Pengguna’ dan ‘Kata Sandi’ yang telah terdaftar.
                </p>
            </div>

            <!-- MENU MATERI -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    MENU MATERI
                </p>

                <p class="text-sm text-gray-600 text-justify">
                    Fitur ‘materi’ dapat diakses oleh guru dan siswa. fitur ini merupakan materi yang diberikan oleh
                    guru dan dapat diakses oleh siswa untuk mempelajari materi
                </p>
            </div>

            <!-- MENU KUIS -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    MENU KUIS
                </p>

                <p class="text-sm text-gray-600 text-justify mb-1">
                    Fitur ‘kuis’ dapat diakses oleh guru dan siswa. fitur ini berisi kuis pretest (dikerjakan sebelum
                    memulai pembelajaran) dan kuis postest (dikerjakan setelah pembelajaran). Adapun tatacara
                    mengerjakan kuis untuk siswa, sebagai berikut:
                </p>

                <ol>
                    <li class="text-sm text-gray-600 text-justify">Klik tombol ‘Kuis’ pada halaman menu</li>
                    <li class="text-sm text-gray-600 text-justify">Pilih kuis sesuai arahan dari guru, baik mengerjakan
                        kuis pretest maupun postest</li>
                    <li class="text-sm text-gray-600 text-justify">Kuis dikerjakan dengan waktu yang telah ditentukan
                    </li>
                    <li class="text-sm text-gray-600 text-justify">Kuis pilihan ganda berisi 5 soal baik pretest maupun
                        postest</li>
                    <li class="text-sm text-gray-600 text-justify">Kuis hanya bisa dikerjakan dalam sekali pengerjaan
                        dan tidak bisa diulang kembali</li>
                    <li class="text-sm text-gray-600 text-justify">Setelah selesai mengerjakan kuis, otomatis akan ada
                        skor pengerjaan sesuai dengan kemampuan
                        pengerjaan siswa</li>
                </ol>

            </div>

            <!-- MENU PROYEK -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    MENU PROYEK
                </p>

                <p class="text-sm text-gray-600 text-justify mb-1">
                    Fitur ‘Proyek’ dikhususkan untuk SISWA. Fitur ini merupakan fitur utama dari LKPD Mobile. Adapun
                    tatacara menggunakan fitur proyek sebagai berikut:
                </p>

                <ul>
                    <li class="text-sm text-gray-600 text-justify">Klik tombol ‘Proyek’ pada halaman menu</li>
                    <li class="text-sm text-gray-600 text-justify">Pilih proyek yang akan dikerjakan, kemudian akan
                        terlihat tampilan dokumen LKPD yang sudah dibuat oleh guru</li>
                    <li class="text-sm text-gray-600 text-justify">Setelah memilih proyek sesuai dengan materi, siswa
                        dapat dikerjakan dengan teman sekelompok</li>
                    <li class="text-sm text-gray-600 text-justify">Siswa yang mengerjakan wajib klik fitur simpan untuk
                        memastikan pengerjaan sudah disimpan, dan dapat dilanjutkan pengerjaan dengan teman yang lain
                    </li>
                    <li class="text-sm text-gray-600 text-justify">Proyek yang sudah selesai dikerjakan dapat diunduh
                        melalui tombol yang sudah disediakan</li>
                    <li class="text-sm text-gray-600 text-justify">File proyek yang sudah diunduh akan otomatis
                        tersimpan secara PDF</li>
                </ul>

            </div>

            <!-- MENU NILAI -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    MENU NILAI
                </p>

                <p class="text-sm text-gray-600 text-justify">
                    Fitur ‘Nilai’ dapat diakses untuk guru dan siswa. Fitur ini merupakan fitur yang digunakan untuk
                    melihat hasil pengerjaan dari kuis dan proyek masing-masing siswa. Daftar nilai siswa yang
                    dikerjakan, akan terlihat skor kuis pretest dan postest dengan waktu pengerjaan sesuai dengan
                    kemampuan siswa, dan daftar nilai proyek akan terlihat sesuai dengan pengerjaan siswa dalam setiap
                    pertemuan pertama hingga keempat.
                </p>
            </div>

            <!-- MENU REFERENSI -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    MENU REFERENSI
                </p>

                <p class="text-sm text-gray-600 text-justify">
                    Fitur ‘Referensi’ dapat diakses oleh guru dan siswa. Fitur ini merupakan fitur yang digunakan untuk
                    melihat referensi video yang sesuai dengan materi pembelajaran. Guru akan memberikan link yang
                    disediakan dalam aplikasi, kemudian siswa klik tombol pada link tersebut selanjutnya akan terbuka
                    secara otomatis pada link yang diberikan, seperti link Youtube.
                </p>
            </div>

            <!-- PROFILE PENGGUNA -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-base text-gray-800 font-semibold italic mb-1">
                    PROFILE PENGGUNA
                </p>

                <p class="text-sm text-gray-600 text-justify">
                    Fitur ini untuk menampilkan data pengguna, selain itu terdapat pula tombol panduan pengguna, tentang
                    aplikasi, dan tombol keluar aplikasi.
                </p>
            </div>

        </div>

        <!-- Tentang Aplikasi -->
        <div
            class="flex flex-col justify-between w-full items-center mb-5 pb-5 border-b border-dashed border-gray-400 border-t-0 border-x-0">
            <!-- Title -->
            <div class="flex flex-col w-full ">
                <p class="text-lg font-semibold text-gray-700">
                    Tentang Aplikasi
                </p>
                <p class="text-sm text-gray-600">
                    Tentang aplikasi LKPD Mobile
                </p>
            </div>

            <div class="flex flex-col w-full p-3">
                <p class="text-sm text-gray-600 text-justify">
                    Aplikasi ini dirancang dan dikembangkan untuk memfasilitasi siswa dalam mendukung proses
                    pembelajaran di kelas.
                    <br>
                    <br>
                    Aplikasi ini dirujukkan untuk guru dan siswa SMA pada mata pelajaran Prakarya dan Kewirausahaan.
                    Namun, aplikasi versi pertama yang dikembangkan baru sebatas materi yang akan dipelajari.
                </p>
            </div>
        </div>

        <!-- FITUR -->
        <div
            class="flex flex-col justify-between w-full items-center mb-5 pb-5 border-b border-dashed border-gray-400 border-t-0 border-x-0">
            <!-- Title -->
            <div class="flex flex-col w-full ">
                <p class="text-lg font-semibold text-gray-700">
                    Fitur
                </p>
                <p class="text-sm text-gray-600">
                    Fitur Utama LKPD Mobile
                </p>
            </div>

            <div class="flex flex-col w-full p-3">
                <p class="text-sm text-gray-600 text-justify mb-2">
                    Pertama, fitur ‘Unggah Materi, Proyek, Kuis, dan Referensi’. Fitur ini ditunjukkan kepada guru dapat
                    mengunggah file materi pembelajaran dalam bentuk PPT atau PDF, proyek dapat dilakukan dengan ketik
                    manual melalui aplikasi, kuis juga dilakukan oleh guru dengan memberikan Latihan soal, dan guru
                    dapat mengunggah referensi dalam bentuk link yang dapat mendukung dalam proses pembelajaran.
                </p>

                <p class="text-sm text-gray-600 text-justify mb-2">
                    Kedua, fitur ‘Materi, Proyek, Kuis, dan Referensi’. Fitur yang digunakan oleh siswa dapat mengakses
                    materi dengan bentuk file PPT atau PDF, proyek yang telah dikerjakan dapat dikerjakan secara
                    bersamaan oleh teman sekelompok, kuis dapat dikerjakan oleh siswa secara individu dan referensi
                    dapat diakses pada link yang telah diberikan oleh guru.
                </p>
            </div>
        </div>

        <!-- Identitas Pengembang -->
        <div
            class="flex flex-col justify-between w-full items-center mb-5 pb-5 border-b border-dashed border-gray-400 border-t-0 border-x-0">
            <!-- Title -->
            <div class="flex flex-col w-full mb-2">
                <p class="text-lg font-semibold text-gray-700">
                    Identitas Pengembang
                </p>
            </div>

            <div class="flex flex-col w-full gap-1 mb-2">
                <p class="text-sm text-gray-600 text-justify">
                    Nama Pengembang
                </p>
                <p class="text-sm text-gray-800 font-bold text-justify">
                    Ardiana Trisya Rahadiva
                </p>
            </div>

            <div class="flex flex-col gap-1 w-full mb-2">
                <p class="text-sm text-gray-600 text-justify">
                    Email Pengembang
                </p>
                <p class="text-sm text-gray-800 font-bold text-justify">
                    ardianatrisyar&#64;students.unnes.ac.id
                </p>
            </div>

            <div class="flex flex-col gap-1 w-full">
                <p class="text-sm text-gray-600 text-justify">
                    Instansi
                </p>
                <p class="text-sm text-gray-800 font-bold  text-justify">
                    Fakultas Ekonomika dan Bisnis, Universitas Negeri Semarang.
                </p>
            </div>
        </div>

        <!-- Tentang Aplikasi -->
        <div class="grid w-full gap-2 mb-3 pb-3">
            <p-button severity="danger" styleClass="p-button-sm w-full" label="Sign Out" (onClick)="handleSignOut()">
            </p-button>

            <p class="text-sm text-gray-600 text-center">
                {{ Version }}
            </p>
        </div>
    </div>
</app-main>