<app-main>
    <div class="flex justify-center items-center w-full p-3">
        <div class="w-1/12 flex justify-center">
            <p-button *ngIf="SelectedMateriIndex > 0" severity="secondary" styleClass="p-button-sm"
                icon="pi pi-chevron-left" (onClick)="handleNextPrevMateri('prev')">
            </p-button>
        </div>

        <div class="w-10/12 flex flex-col gap-2 bg-white rounded-lg p-3">
            <div *ngIf="SelectedMateri" class="flex flex-col w-full gap-3">
                <img [src]="SelectedMateri.path" alt="materi" class="w-[85%] mx-auto rounded-md drop-shadow"
                    style="height: calc(100vh - 7rem);">
            </div>
        </div>

        <div class="w-1/12 flex justify-center">
            <p-button *ngIf=" SelectedMateriIndex != MateriDatasource.length - 1" severity="secondary"
                styleClass="p-button-sm" icon="pi pi-chevron-right" (onClick)="handleNextPrevMateri('next')">
            </p-button>
        </div>
    </div>
</app-main>