<app-main>
    <div class="grid w-full py-5 px-3">
        <!-- Banner -->
        <div class="flex flex-col w-full items-center justify-center rounded-lg bg-emerald-500 p-5 shadow mb-5">
            <p class="text-sm font-medium text-gray-100 text-center">
                Selamat Datang di
            </p>
            <p class="text-lg font-bold text-white text-center">
                LKPD - Lembar Kerja Peserta Didik
            </p>
        </div>

        <p>materi works!</p>
    </div>
</app-main>