<app-main>
    <div class="flex flex-col w-full">
        <div *ngIf="IsGuru" class="flex flex-row justify-between gap-3 w-full px-5 mt-2">
            <div class="flex gap-3 w-6/12">
                <!-- Dropdown Kelas -->
                <div class="grid w-4/12">
                    <p-dropdown styleClass="p-inputtext-sm w-full" placeholder="Pilih Kelas" [options]="KelasDatasource"
                        optionLabel="kelas" optionValue="id_kelas" appendTo="body" [filter]="true"
                        [(ngModel)]="SelectedKelas" (onChange)="handleChangeKelas($event)">
                    </p-dropdown>
                </div>

                <!-- Dropdown Siswa -->
                <div class="grid w-4/12">
                    <p-dropdown styleClass="p-inputtext-sm w-full" placeholder="Pilih Siswa" [options]="SiswaDatasource"
                        optionLabel="nama_lengkap" optionValue="id_siswa" appendTo="body" [filter]="true"
                        [(ngModel)]="SelectedSiswa" [disabled]="!SelectedKelas" (onChange)="getAllKuis()">
                    </p-dropdown>
                </div>
            </div>

            <!-- Dropdown Siswa -->
            <div class="flex w-6/12 justify-end gap-3">
                <div class="grid w-5/12">
                    <p-inputNumber styleClass="p-inputtext-sm w-full" placeholder="Input nilai tugas siswa" [max]="100"
                        [(ngModel)]="Nilai">
                    </p-inputNumber>
                </div>

                <p-button severity="success" label="Simpan Nilai Siswa" styleClass="p-button-sm"
                    (onClick)="handleUpdateNilai(Nilai)"></p-button>
            </div>
        </div>

        <div *ngIf="Kuis" class="flex flex-row items-start w-full gap-3 py-3 px-5">
            <!-- List Pertanyaan -->
            <div class="w-2/12 flex flex-col gap-2 overflow-x-auto p-2" style="max-height: calc(100vh - 6rem);">
                <div *ngFor="let item of Kuis.pertanyaan; let i = index"
                    class="flex flex-row justify-center w-full {{ SelectedIndexPertanyaan == i ? 'bg-orange-200 border border-solid border-white' : 'bg-gray-200' }} rounded-md drop-shadow py-1"
                    (click)="handleClickSoal(item, i)">
                    <p class="{{ SelectedIndexPertanyaan == i  ? 'text-orange-600' : 'text-gray-500' }} text-xs">
                        Soal Nomor {{ i+1 }}
                    </p>
                </div>
            </div>

            <!-- List Pertanyaan -->
            <div class="w-10/12 flex flex-col gap-2 bg-white rounded-lg p-3">
                <div class="flex items-center w-full p-2 mb-0">
                    <div
                        class="flex w-3/12 p-2 mx-auto rounded-xl items-center justify-center bg-orange-200 text-orange-600 border border-solid border-white">
                        <p class="text-base font-semibold text-center">
                            {{ Kuis.judul }}
                        </p>
                    </div>
                </div>

                <p *ngIf="SelectedPertanyaan" class="text-sm text-gray-800 font-semibold text-justify leading-none mb-2"
                    [innerHTML]="SelectedPertanyaan.pertanyaan">
                </p>

                <div *ngIf="SelectedPertanyaan" class="flex flex-col gap-3">
                    <!-- Pilihan Ganda -->
                    <div *ngIf="SelectedPertanyaan.type == 'choice'" class="flex flex-col gap-3">
                        <div class="flex items-center">
                            <p-radioButton [name]="SelectedPertanyaan.id_kuis" value="A"
                                [(ngModel)]="SelectedPertanyaan.jawaban" inputId="option_a" />
                            <p for="option_a"
                                class="ml-2 text-sm 
                                {{ Kuis.skor > 0 && SelectedPertanyaan.correct == 'A' ? 'text-emerald-600'  : 'text-gray-700'}}">
                                {{ SelectedPertanyaan.option_a }}
                            </p>
                        </div>

                        <div class="flex items-center">
                            <p-radioButton [name]="SelectedPertanyaan.id_kuis" value="B"
                                [(ngModel)]="SelectedPertanyaan.jawaban" inputId="option_b" />
                            <p for="option_b"
                                class="ml-2 text-sm 
                            {{ Kuis.skor > 0 && SelectedPertanyaan.correct == 'B' ? 'text-emerald-600'  : 'text-gray-700'}}">
                                {{ SelectedPertanyaan.option_b }}
                            </p>
                        </div>

                        <div class="flex items-center">
                            <p-radioButton [name]="SelectedPertanyaan.id_kuis" value="C"
                                [(ngModel)]="SelectedPertanyaan.jawaban" inputId="option_c" />
                            <p for="option_c"
                                class="ml-2 text-sm 
                            {{ Kuis.skor > 0 && SelectedPertanyaan.correct == 'C' ? 'text-emerald-600'  : 'text-gray-700'}}">
                                {{ SelectedPertanyaan.option_c }}
                            </p>
                        </div>

                        <div class="flex items-center">
                            <p-radioButton [name]="SelectedPertanyaan.id_kuis" value="D"
                                [(ngModel)]="SelectedPertanyaan.jawaban" inputId="option_d" />
                            <p for="option_d"
                                class="ml-2 text-sm 
                            {{ Kuis.skor > 0 && SelectedPertanyaan.correct == 'D' ? 'text-emerald-600'  : 'text-gray-700'}}">
                                {{ SelectedPertanyaan.option_d }}
                            </p>
                        </div>
                    </div>

                    <!-- Audio -->
                    <div *ngIf="SelectedPertanyaan.type == 'audio'" class="flex w-full items-center">
                        <div *ngIf="!SelectedPertanyaan.jawaban" class="voice-note flex gap-2 mb-2">
                            <p-button severity="info" label="🎙️ Mulai Merekam" styleClass="p-button-sm"
                                (click)="startRecording()" [disabled]="isRecording">
                            </p-button>

                            <p-button severity="secondary" label="🛑 Stop Rekam" styleClass="p-button-sm"
                                (click)="stopRecording(SelectedPertanyaan)" [disabled]="!isRecording">
                            </p-button>
                        </div>

                        <div *ngIf="SelectedPertanyaan.jawaban" class="flex w-full items-center gap-2">
                            <p-button severity="danger" label="Hapus Rekaman" styleClass="p-button-sm"
                                (click)="SelectedPertanyaan.jawaban = ''">
                            </p-button>

                            <audio [src]="SelectedPertanyaan.jawaban" controls></audio>
                        </div>
                    </div>
                </div>

                <div *ngIf="SelectedPertanyaan"
                    class="flex flex-row {{ SelectedIndexPertanyaan == 0 ? 'justify-end' : 'justify-between'}} mt-auto">
                    <p-button *ngIf="SelectedIndexPertanyaan > 0" severity="secondary" styleClass="p-button-sm"
                        icon="pi pi-chevron-left" (onClick)="handleNextPrevSoal('prev')">
                    </p-button>

                    <p-button *ngIf=" SelectedIndexPertanyaan !=Kuis.pertanyaan.length - 1" severity="secondary"
                        styleClass="p-button-sm" icon="pi pi-chevron-right" (onClick)="handleNextPrevSoal('next')">
                    </p-button>

                    <p-button
                        *ngIf="SelectedIndexPertanyaan == Kuis.pertanyaan.length - 1 && !SelectedPertanyaan.id_jawaban"
                        severity="info" styleClass="p-button-sm" icon="pi pi-save" label="Simpan"
                        (click)="handleSubmitPertanyaan(Kuis)">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</app-main>