<app-main>
    <div class="grid w-full py-5 px-3">
        <!-- Banner -->
        <div class="flex flex-col w-full items-center justify-center rounded-lg bg-emerald-500 p-5 shadow mb-5">
            <p class="text-sm font-medium text-gray-100 text-center">
                LKPD - Lembar Kerja Peserta Didik
            </p>
            <p class="text-lg font-bold text-white text-center">
                Kuis
            </p>
        </div>

        <div class="flex flex-row justify-between w-full items-center mb-5">
            <!-- Title -->
            <div class="flex flex-col w-full ">
                <p class="text-lg font-semibold text-gray-700">
                    {{ IsShowForm ? 'Tambah / Edit' : 'Daftar'}} Kuis
                </p>
                <p class="text-sm text-gray-600">
                    {{ IsShowForm ? 'Tambahkan / edit' : 'Pilih'}} kuis dibawah ini
                </p>
            </div>

            @if (IsGuru && !IsShowForm) {
            <p-button severity="secondary" styleClass="p-button-sm bg-emerald-500 text-sm text-white" label="Tambah"
                (onClick)="IsShowForm = true; Form.reset()">
            </p-button>
            }
        </div>

        <!-- List -->
        <div *ngIf="!IsShowForm" class="flex flex-col gap-3 w-full">
            @for (item of Kuis; track $index) {
            <div
                class="flex flex-row justify-between items-center w-full p-3 rounded-lg border border-dashed border-gray-300">
                <div class="flex flex-col">
                    <div
                        class="flex w-[5.5rem] items-center justify-center px-2 py-1 {{ item.kategori_kuis == 'PRE TEST' ? 'bg-sky-100 text-sky-600' : 'bg-orange-100 text-orange-600'  }} rounded-lg mb-1">
                        <p class="font-semibold text-xs">
                            {{ item.kategori_kuis }}
                        </p>
                    </div>
                    <p class="text-lg text-emerald-500 font-bold">
                        {{ item.judul }}
                    </p>
                    <p class="text-sm text-gray-600 mb-0">
                        {{ item.create_at | date: 'dd-MM-yyyy HH:mm' }}
                    </p>
                </div>

                <div class="flex gap-5 {{ item.is_answered ? 'h-full items-end' : 'items-center'}}">
                    <span *ngIf="!IsGuru && !item.is_answered" class="text-yellow-500"
                        (click)="handleOpenKuisForSiswa(item.id_kuis)">
                        <i class="pi pi-file-edit"></i>
                    </span>

                    <div *ngIf="!IsGuru && item.is_answered" class="flex flex-col items-center gap-1">
                        <p class="text-sm text-gray-600">
                            Skor Anda
                        </p>
                        <p class="text-3xl font-bold {{ item.skor! >=75 ? 'text-emerald-500' : 'text-red-500' }}">
                            {{ item.skor }}
                        </p>
                    </div>

                    <span *ngIf="IsGuru" class="text-yellow-500" (click)="handleClickButtonEdit(item.id_kuis)">
                        <i class="pi pi-pencil"></i>
                    </span>

                    <span *ngIf="IsGuru" class="text-red-500" (click)="handleDeleteKuis(item.id_kuis)">
                        <i class="pi pi-trash"></i>
                    </span>
                </div>
            </div>
            }
        </div>

        <!-- Form -->
        <div *ngIf="IsShowForm && IsGuru" class="flex flex-col gap-0 w-full">
            <!-- Header -->
            <div class="flex flex-col gap-3 w-full mb-4 pb-4 border-b border-t-0 border-x-0 border-dashed border-gray-300"
                [formGroup]="Form">
                <!-- Judul -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-base font-medium text-gray-700">
                        Judul Kuis
                        <span class="text-red-500">*</span>
                    </p>
                    <input type="text" pInputText class="w-full" placeholder="Masukkan judul kuis disini"
                        formControlName="judul">

                    <span *ngIf="Form.get('judul')?.touched && Form.get('judul')?.invalid"
                        class="p-2 rounded-lg bg-red-100 text-red-500 font-semibold text-sm">
                        Judul kuis tidak boleh kosong
                    </span>
                </div>

                <!-- Kelas -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-base font-medium text-gray-700">
                        Untuk Kelas
                        <span class="text-red-500">*</span>
                    </p>
                    <p-dropdown [options]="KelasDatasource" optionValue="id_kelas" optionLabel="kelas"
                        placeholder="Pilih kelas disini" formControlName="id_kelas" styleClass="w-full" appendTo="body"
                        [filter]="true">
                    </p-dropdown>

                    <span *ngIf="Form.get('id_kelas')?.touched && Form.get('id_kelas')?.invalid"
                        class="p-2 rounded-lg bg-red-100 text-red-500 font-semibold text-sm">
                        Kelas tidak boleh kosong
                    </span>
                </div>

                <!-- Waktu -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-base font-medium text-gray-700">
                        Waktu Pengerjaan
                    </p>

                    <div class="flex gap-4 items-center w-full">
                        <div class="w-6/12">
                            <p-calendar styleClass="w-full" dateFormat="dd-mm-yy" placeholder="Waktu Mulai"
                                formControlName="start_date" appendTo="body" [showClear]="true" [showTime]="true">
                            </p-calendar>
                        </div>
                        <div class="w-6/12">
                            <p-calendar styleClass="w-full" dateFormat="dd-mm-yy" placeholder="Waktu Selesai"
                                formControlName="end_date" appendTo="body" [showClear]="true" [showTime]="true">
                            </p-calendar>
                        </div>
                    </div>

                </div>

                <!-- Kategori Kuis -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-base font-medium text-gray-700">
                        Kategori Kuis
                        <span class="text-red-500">*</span>
                    </p>
                    <div class="flex gap-4 items-center">
                        <div class="flex items-center">
                            <p-radioButton name="kategori_kuis" value="PRE TEST" formControlName="kategori_kuis"
                                inputId="pre_test" />
                            <label for="pre_test" class="ml-2 text-sm">
                                Pre Test
                            </label>
                        </div>

                        <div class="flex items-center">
                            <p-radioButton name="kategori_kuis" value="POST TEST" formControlName="kategori_kuis"
                                inputId="post_test" />
                            <label for="post_test" class="ml-2 text-sm">
                                Post Test
                            </label>
                        </div>
                    </div>

                    <span *ngIf="Form.get('kategori_kuis')?.touched && Form.get('kategori_kuis')?.invalid"
                        class="p-2 rounded-lg bg-red-100 text-red-500 font-semibold text-sm">
                        Kategori kuis tidak boleh kosong
                    </span>
                </div>

                <!-- Deskripsi Kuis -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-base font-medium text-gray-700">
                        Deskripsi Kuis
                        <span class="text-red-500">*</span>
                    </p>

                    <textarea rows="3" class="w-full" pInputTextarea placeholder="Masukkan deskripsi kuis disini"
                        formControlName="deskripsi"></textarea>

                    <span *ngIf="Form.get('deskripsi')?.touched && Form.get('deskripsi')?.invalid"
                        class="p-2 rounded-lg bg-red-100 text-red-500 font-semibold text-sm">
                        Deskripsi kuis tidak boleh kosong
                    </span>
                </div>
            </div>

            <!-- Pertanyaan -->
            <div class="flex flex-col gap-3 w-full mb-4">
                <!-- Title -->
                <div class="flex flex-col w-full ">
                    <p class="text-lg font-semibold text-gray-700">
                        Soal Kuis
                    </p>
                    <p class="text-sm text-gray-600">
                        Tambah / edit soal kuis disini
                    </p>
                </div>

                <!-- Loop -->
                <div *ngFor="let item of Pertanyaan; let i = index; let last = last"
                    class="flex flex-col w-full gap-3 {{last ? '' : 'pb-2 border-b border-t-0 border-x-0 border-dashed border-gray-300'}}">
                    <p class="text-gray-800 text-base font-medium">
                        Soal No. {{ i + 1 }}
                    </p>

                    <!-- Soal -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Soal
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan soal kuis disini"
                            [(ngModel)]="item.pertanyaan">
                    </div>

                    <!-- Opsi A -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Opsi A
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan opsi A disini"
                            [(ngModel)]="item.option_a">
                    </div>

                    <!-- Opsi B -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Opsi B
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan opsi B disini"
                            [(ngModel)]="item.option_b">
                    </div>

                    <!-- Opsi C -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Opsi C
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan opsi C disini"
                            [(ngModel)]="item.option_c">
                    </div>

                    <!-- Opsi D -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Opsi D
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan opsi D disini"
                            [(ngModel)]="item.option_d">
                    </div>

                    <!-- Opsi E -->
                    <div class="flex flex-col gap-1 w-full">
                        <p class="text-base font-medium text-gray-700">
                            Opsi E
                            <span class="text-red-500">*</span>
                        </p>
                        <input type="text" pInputText class="w-full" placeholder="Masukkan opsi E disini"
                            [(ngModel)]="item.option_e">
                    </div>

                    <!-- Jawaban Yang Benar -->
                    <div class="flex flex-col gap-1 w-full mb-3">
                        <p class="text-base font-medium text-gray-700">
                            Jawaban Yang Benar
                            <span class="text-red-500">*</span>
                        </p>

                        <div class="flex gap-4 items-center">
                            <div class="flex items-center">
                                <p-radioButton name="correct" value="A" [(ngModel)]="item.correct"
                                    inputId="correct_a" />
                                <label for="correct_a" class="ml-2 text-sm">
                                    A
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-radioButton name="correct" value="B" [(ngModel)]="item.correct"
                                    inputId="correct_b" />
                                <label for="correct_b" class="ml-2 text-sm">
                                    B
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-radioButton name="correct" value="C" [(ngModel)]="item.correct"
                                    inputId="correct_c" />
                                <label for="correct_c" class="ml-2 text-sm">
                                    C
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-radioButton name="correct" value="D" [(ngModel)]="item.correct"
                                    inputId="correct_d" />
                                <label for="correct_d" class="ml-2 text-sm">
                                    D
                                </label>
                            </div>
                            <div class="flex items-center">
                                <p-radioButton name="correct" value="E" [(ngModel)]="item.correct"
                                    inputId="correct_e" />
                                <label for="correct_e" class="ml-2 text-sm">
                                    E
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-row justify-end items-center gap-3 w-full">
                <p-button severity="secondary" label="Kembali" styleClass="p-button-sm"
                    (onClick)="IsShowForm = false; Form.reset()">
                </p-button>

                <p-button *ngIf="!IsFormEdit" severity="secondary" label="Simpan"
                    styleClass="p-button-sm bg-emerald-500 text-white text-sm" (onClick)="handleSaveKuis(Form.value)">
                </p-button>

                <p-button *ngIf="IsFormEdit" severity="secondary" label="Update"
                    styleClass="p-button-sm bg-emerald-500 text-white text-sm" (onClick)="handleUpdateKuis(Form.value)">
                </p-button>
            </div>
        </div>

        <!-- Siswa View -->
        <div *ngIf="IsShowForm && !IsGuru" class="flex flex-col gap-0 w-full">
            <!-- Header -->
            <div
                class="flex flex-col gap-2 w-full mb-4 pb-4 border-b border-t-0 border-x-0 border-dashed border-gray-300">
                <!-- Judul -->
                <div class="flex flex-row gap-1 w-full">
                    <div class="w-4/12">
                        <p class="text-base font-medium text-gray-700">
                            Judul Kuis
                        </p>
                    </div>
                    <div class="w-8/12">
                        <p class="text-base font-bold text-gray-700">
                            : {{ SelectedKuis.judul }}
                        </p>
                    </div>
                </div>

                <!-- Kelas -->
                <div class="flex flex-row gap-1 w-full">
                    <div class="w-4/12">
                        <p class="text-base font-medium text-gray-700">
                            Kelas
                        </p>
                    </div>
                    <div class="w-8/12">
                        <p class="text-base font-bold text-gray-700">
                            : {{ SelectedKuis.kelas }}
                        </p>
                    </div>
                </div>

                <!-- Kelas -->
                <div class="flex flex-row gap-1 w-full">
                    <div class="w-4/12">
                        <p class="text-base font-medium text-gray-700">
                            Kategori
                        </p>
                    </div>
                    <div class="w-8/12">
                        <p class="text-base font-bold text-gray-700">
                            : {{ SelectedKuis.kategori_kuis }}
                        </p>
                    </div>
                </div>

                <!-- Deskripsi -->
                <div class="flex flex-row gap-1 w-full">
                    <div class="w-4/12">
                        <p class="text-base font-medium text-gray-700">
                            Deskripsi
                        </p>
                    </div>
                    <div class="w-8/12">
                        <p class="text-base font-bold text-gray-700">
                            : {{ SelectedKuis.deskripsi }}
                        </p>
                    </div>
                </div>
            </div>

            <!-- Warning -->
            <div class="px-3">
                <p class="text-sm text-gray-700 font-medium mb-2 text-justify">
                    Jawaban tidak dapat diubah, mohon pastikan jawaban yang telah dipilih sudah sesuai sebelum menekan
                    tombol Soal Selanjutnya dibawah soal berikut.
                </p>
            </div>

            <!-- Soal -->
            <div class="flex flex-col w-full p-3 mb-4">
                <p class="text-base font-medium text-gray-700 mb-3">
                    {{ SelectedIndexPertanyaan + 1 }}. {{ SelectedPertanyaan.pertanyaan }}
                </p>

                <!-- Opsi -->
                <div class="flex flex-col gap-4 w-full mb-3">
                    <!-- Option A -->
                    <div class="flex items-center">
                        <p-radioButton name="correct" value="A" [(ngModel)]="SelectedPertanyaan.jawaban"
                            inputId="correct_a" />
                        <label for="correct_a" class="ml-2 text-sm">
                            {{ SelectedPertanyaan.option_a }}
                        </label>
                    </div>

                    <!-- Option B -->
                    <div class="flex items-center">
                        <p-radioButton name="correct" value="B" [(ngModel)]="SelectedPertanyaan.jawaban"
                            inputId="correct_b" />
                        <label for="correct_b" class="ml-2 text-sm">
                            {{ SelectedPertanyaan.option_b }}
                        </label>
                    </div>

                    <!-- Option C -->
                    <div class="flex items-center">
                        <p-radioButton name="correct" value="C" [(ngModel)]="SelectedPertanyaan.jawaban"
                            inputId="correct_c" />
                        <label for="correct_c" class="ml-2 text-sm">
                            {{ SelectedPertanyaan.option_c }}
                        </label>
                    </div>

                    <!-- Option D -->
                    <div class="flex items-center">
                        <p-radioButton name="correct" value="D" [(ngModel)]="SelectedPertanyaan.jawaban"
                            inputId="correct_d" />
                        <label for="correct_d" class="ml-2 text-sm">
                            {{ SelectedPertanyaan.option_d }}
                        </label>
                    </div>

                    <!-- Option E -->
                    <div class="flex items-center">
                        <p-radioButton name="correct" value="E" [(ngModel)]="SelectedPertanyaan.jawaban"
                            inputId="correct_e" />
                        <label for="correct_e" class="ml-2 text-sm">
                            {{ SelectedPertanyaan.option_e }}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="flex flex-row w-full justify-end gap-4">
                <p-button *ngIf="SelectedIndexPertanyaan == 0" severity="secondary" label="Kembali"
                    styleClass="p-button-sm" (onClick)="handleBackToListKuis()">
                </p-button>

                <p-button *ngIf="SelectedIndexPertanyaan < 4" [disabled]="!SelectedPertanyaan.jawaban"
                    severity="secondary" label="Soal Selanjutnya"
                    styleClass="p-button-sm bg-emerald-500 text-white text-sm"
                    (onClick)="handleSubmitPertanyaan(SelectedPertanyaan)">
                </p-button>

                <p-button *ngIf="SelectedIndexPertanyaan > 3" [disabled]="!SelectedPertanyaan.jawaban"
                    severity="secondary" label="Simpan" styleClass="p-button-sm bg-emerald-500 text-white text-sm"
                    (onClick)="handleSubmitPertanyaan(SelectedPertanyaan)">
                </p-button>
            </div>
        </div>
    </div>
</app-main>